body{
      background-image: url('book.jpg');
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  #wrapper{
    width: 100%;
    vertical-align: center;
    height: 170px;
    text-align: center;
  }
  
  #form{
    height: 350px;
    width: 360px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    float: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -175px;
    margin-left: -140px;
  }
  
  #container{
    margin-top: 15%;
  }
  
  .whole{
    width: 265px;
  }
  
  .half{
    width: 120px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 2px #969696;
    transition: border 0.3s;
    outline: none;
    background:rgb(243, 240, 243);
    font-size: 16px;
  }
  input:focus {
    border-bottom: solid 2px #c9c9c9;
  }
  
  button{
    padding: 10px;
    margin: 5px;
    border: 2px solid #969696;
    border-radius: 5px;
    color: #969696;
    background: rgb(8, 6, 8);
  }
  
  button:hover{
    border-color: white;
    color: white;
  }

  
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 1;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }